a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Helvetica, Arial, sans-serif
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    padding-left: 1.25rem;
    position: relative;
}

li::before {
    left: 0;
    position: absolute;
}

ul li::before {
    content: "●";
}


#header {
    background-color: #C1002A;
    height: 50px;
    width: 100%;
}

#body_container {
    display: flex;
    padding: 10px;
}

#left_container {
    margin-right: 25px;
    margin-left: 25px;
}

#picture_container {
    width: 200px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}


#right_container {
    width: 200px;
    margin-right: 25px;
    flex: none;
}

@media screen and (max-width: 600px) {
    #right_container { display: none; }
    #picture_container { display: none; }
}
